<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <title>Upload CSV</title>
</head>
<body>
    <div class="container">

        <h1>Welcome!<h1>
        <h2>Upload a CSV, Get an API <br><span style="font-size: 18px;">Simple & Fast!</span></h2>
        <p class="subtext">Please login to continue..</p>
        
        <h2> Login</h2>
        <input type="password" id="password" placeholder="Enter Admin Password">
        <button onclick="login()">Login</button>
        <p id="login-status"></p>  

        <div id="upload-section" style="display:none;">
            <hr>
            <h2>Upload CSV File</h2>
            <p class="subtext">Please use the following format for filenames: csv_upload.csv</p>
            <input type="file" id="csvFile">
            <button onclick="uploadCSV()">Upload</button>
            <p id="upload-status"></p>
            <p id="api-name-status"></p>
            <!-- <button id="generate-api-button" style="display:none;" onclick="generateAPI()">Generate API</button> -->
            <br> 
            <button id="view-apis-button" onclick="viewAPIs()">View Available APIs</button>
            <div id="api-list"><br></div>
        </div>

        <hr>

        <div id="fetchapi-section" style="display:none;">
            <h2>Fetch API Data</h2>
            <input type="text" id="apiName" placeholder="Enter API Name (CSV filename)">
            <input type="text" id="searchParam" placeholder="Parameter to search">
            <input type="text" id="searchValue" placeholder="Value to search">
            <button onclick="fetchData()">Fetch Data</button>
            <pre id="apiData"></pre>
        </div>
        

        <script>
            async function login() {
                const password = document.getElementById("password").value;
                const response = await fetch("/login", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ password })
                });
                const result = await response.json();
                document.getElementById("login-status").innerText = result.message;
                if (result.message === "Login successful!!") {
                    document.getElementById("upload-section").style.display = "block"; // Show upload section
                }
            }

            async function uploadCSV() {
                const fileInput = document.getElementById("csvFile");
                if (!fileInput.files.length) {
                    alert("Please select a CSV file!");
                    return;
                }

                const file = fileInput.files[0];
                const fileName = file.name.toLowerCase();
                const fileExtension = fileName.split('.').pop();

                // Validate file extension
                if (!fileName.endsWith(".csv")) {
                    alert("Invalid file format! Please upload a CSV file.");
                    return;
                }

                // Validate filename format using regex
                const validFilenameRegex = /^[a-zA-Z0-9_]+\.csv$/;
                if (!validFilenameRegex.test(fileName)) {
                    alert("Invalid filename, Example format: csv_upload.csv");
                    return;
                }

                const formData = new FormData();
                formData.append("file", fileInput.files[0]);

                const response = await fetch("/upload", {
                    method: "POST",
                    body: formData
                });

                const result = await response.json();
                console.log(result);
                document.getElementById("upload-status").innerText = result.message;
                // document.getElementById("api-name-status").innerText = `Generated API`; // Show generated API name
                //document.getElementById("generate-api-button").style.display = "block"; // Show generate API button
                document.getElementById("fetchapi-section").style.display = "block"; // Show fetch API section

                // if (result.message === "Generated API") {
                //     document.getElementById("fetchapi-section").style.display = "block"; // Show upload section
                // }
            }

            // async function generateAPI() {
            //     const apiName = document.getElementById("apiName").value;
            //     const response = await fetch(`/api/generate/${apiName}`, {
            //         method: "POST"
            //     });
            //     const result = await response.json();
            //     alert(result.message);
            // }

            async function viewAPIs() {
                const apiListDiv = document.getElementById("api-list");
                // Toggle visibility: If already visible, hide it
                if (apiListDiv.style.display === "block") {
                    apiListDiv.style.display = "none";
                    return;
                }

                // Show the API list and fetch data if hidden
                apiListDiv.style.display = "block";
                apiListDiv.innerHTML = "Loading...";

                const response = await fetch('/api/tables');
                const result = await response.json();
                // const apiListDiv = document.getElementById("api-list");
                apiListDiv.innerHTML = ""; // Clear previous results

                if (result.tables && result.tables.length > 0) {
                    result.tables.forEach(table => {
                        const apiInfo = document.createElement("div");
                        apiInfo.innerText = `  API Name: ${table.table_name}, Endpoint: ${table.api_endpoint}`;
                        apiListDiv.appendChild(apiInfo);
                    });
                } else {
                    apiListDiv.innerText = "No APIs available.";
                }
            }

            // async function searchData() {
            //     const apiName = document.getElementById("apiName").value;
            //     const param = document.getElementById("searchParam").value;
            //     const value = document.getElementById("searchValue").value;

            //     if (!apiName || !param || !value) {
            //         alert("Please enter API name, parameter, and value to search.");
            //         return;
            //     }

            //     const response = await fetch(`/api/${apiName}/search?param=${param}&value=${value}`);
            //     const result = await response.json();
            //     document.getElementById("apiData").innerText = JSON.stringify(result, null, 2);
            // }

            async function fetchData() {
                const apiName = document.getElementById("apiName").value;
                const param = document.getElementById("searchParam").value;
                const value = document.getElementById("searchValue").value;
                if (!apiName) {
                    alert("Enter API name (without .csv)");
                    return;
                }

                const response = await fetch(`/api/${apiName}/search?param=${param}&value=${value}`);
                const result = await response.json();
                document.getElementById("apiData").innerText = JSON.stringify(result, null, 2);
            }
        </script>
    </div>
</body>
</html>
